<h2 class="text-center text-green-500 fs-4">Forget Password</h2>

<div class="w-75 mx-auto py-4"> 
    <!--======================================== Email ======================================== -->
  @if (!isCodeForm && !isNewPassForm) {  
    <form [formGroup]="emailForm" (ngSubmit)="verifyBtn()" >
    <div class="mb-6">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="form-control"
        />
    </div>
    @if (emailForm.get('email')?.errors?.['required']&&emailForm.get('email')?.touched) {
        <div class="alert alert-danger">
            <p>Email is required</p>
        </div>

    }@else if (emailForm.get('email')?.errors?.['email']) {
        <div class="alert alert-danger">
            <p>Please insert a correct Email</p>
        </div>
    }

    <button type="submit" class="btn btn-primary share text-center d-block me-auto mt-2">Verify
        @if (isLoading) { <span><i class="fa-solid fa-spinner fa-spin"></i></span>}
    </button>
</form>
}
    <!--======================================== SendCode ======================================== -->
  @if (isCodeForm) {
    <form [formGroup]="codeForm" (ngSubmit)="codeBtn()" >
        <div class="mb-6">
            <label for="password">Password</label>
            <input
              id="password"
              formControlName="code"
              type="password"
              class="form-control"
            />
        </div>
        @if (codeForm.get('code')?.errors?.['required']&&codeForm.get('code')?.touched) {
            <div class="alert alert-danger">
                <p>Code is required</p>
            </div>}

      
        <button type="submit" class="bg-green-500 text-white p-2 rounded-md">Code  @if (isLoading) { <span><i class="fa-solid fa-spinner fa-spin"></i></span>}</button>
    </form>
  }

    <!--======================================== newPassword ======================================== -->
   @if (isNewPassForm) {
    <form [formGroup]="resetPasswordForm" (ngSubmit)="newPasswordBtn()" >
        <div class="mb-6">
            <label for="email">Email</label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"/>
        </div>
        @if (resetPasswordForm.get('email')?.errors?.['required']&&resetPasswordForm.get('email')?.touched) {
            <div class="alert alert-danger">
                <p>Email is required</p>
            </div>}

        <div class="mb-6">
            <label for="password">Password</label>
            <input
              id="password"
              formControlName="newPassword"
              type="password"
              class="form-control"
            /> 
        </div>
        @if (resetPasswordForm.get('newPassword')?.errors &&
        resetPasswordForm.get('newPassword')?.touched ) {
        <div class="alert alert-danger">
          
        <p>Password is required</p>
        </div>
        }

        <button type="submit" class="bg-green-500 text-white p-2 rounded-md">Verify Email</button>
    
    </form> 
   }

</div>